<div class= "new-post">
  <h1>My Plants</h1>
    <% @current_user.plants.each do |plant| %>
      <p>Name: <%= plant.name %></p>
      <p>Details: <%= plant.details %></p>
      <p>Price: <%= plant.price %></p>
      <p>Quantity: <%= plant.quantity %></p>
    <% end %>
</div>