/*
 *= require_tree .
 *= require_self
 */
/* -------------- MAIN --------------*/

body {
  font-family: 'Playfair Display';font-size: 22px;
  text-align: center;
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  margin: 0px;
  padding: 20px;
}
h4 {
  margin: 0px;
  padding: 0px;
}
.container {
  margin: auto;
  padding-top: 20px;
  width: 80%;
}
.florum-logo-div {
  height: 400px;
  width: 100%;
  padding: 0px;
  margin: 0;
  background-color: floralwhite;
}
.about-us-div {
  height: 300px;
  width: 100%;
  padding: 0px;
  margin: 0;
  background-color: #eaffea;
  overflow-wrap: break-word;
}
.about-us-div p {
  padding: 10px;
}
.marketplace-div {
  height: 400px;
  width: 100%;
  padding: 0px;
  margin: 0;
  background-color: #F8F8F8;
}
.col1, .col2, .col3 {
  width: 33%;
  font-size: 14px;
  text-align: center;
  margin: 0px;
  display: inline-block;
}
.col1 p, .col2 p, .col3 p {
  padding: 10px;
}


/* -------------- NAV --------------*/

.navbar {
  display: flex;
  align-items: center;
  background-color: #00CC66;
  justify-content: center;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-item {
  padding: 5px;
}
.navbar a:link { 
  color: black;
  text-decoration: none;
}
.navbar a:visited { 
  color: black;
  text-decoration: none;
}
.navbar a:hover { 
  color: white; 
  font-weight: bold;
}
.navbar a:active { 
  color: black;
  text-decoration: none;
}

/* -------------- FORUM --------------*/

.new-post {
  margin-top: 200px;
}

.forum-category {
  width: 100%;
  padding: 0px;
  margin: 0;
  background-color: #eaffea;
  text-align: left;
}

/* -------------- USER PROFILE --------------*/


#plants-list {
  text-align: left;
  font-size: 18px;
}
.sub-plants {
  display: inline-block;
  padding: 15px;
  width: 225px;
  vertical-align:top;
}
